/* CHARTE GRAPHIQUE *****

couleurs titre:  vert #12a29b


*/

@font-face {
    font-family: "Generica", sans-serif;
    font-style: normal;
    font-weight: 400;
    src:
        url("../Ressources/mustardo.ttf") format('truetype'),

}

html {
    font-family: "Generica", sans-serif;
    font-family: 'Mustardo', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    width: 100vw;
    letter-spacing: 2px;
}


h2,
h3 {
    color: white;
    letter-spacing: 2px
}

html h2 {
    font-family: "Generica", sans-serif;
    font-size: 160%
}

h1 {
    font-family: 'Mustardo', sans-serif;
    color: #12a29b;
}

html h3 {
    font-family: "Generica", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
}

html h4 {
    font-family: "Generica", sans-serif;
    font-size: 110%;
    color: #12a29b;
    letter-spacing: 2px
}

p {
    color: white;
    font-family: "Generica", sans-serif;
}

section {
    padding-top: 2%;
    padding-bottom: 2%;
}


.mots-vert {
    color: #12a29b;
    font-size: 110%;

}


/* **** NAVBAR ********
============ */

.navbar {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 110%;
    padding: 0px 15px 0px 15px;
    width: 100vw;
}

.navbar-brand h1 {
    font-size: 140%
}

.navbar-brand:hover {
    transform: scale(1.1, 1.1);
    transition: 1s
}

#monMenu h3 {
    margin-left: 30px;
    color: white;

}

#monMenu {
    font-family: 'Josefin Sans', sans-serif;
}

.nav-items span {
    font-family: "Generica", sans-serif;
    color: white;
    padding: 0 5px 0 5px;
    letter-spacing: 3px
}

.nav-items span:hover {
    color: black;
    transform: scale(1.1, 1.1);
    transition: 0.6s;

}

.dropdown a {
    color: white;
    font-family: "Generica", sans-serif;
    text-transform: uppercase;
    width:

}

.dropdown a:hover {
    color: black;
    transition: 0.6s;
    text-decoration: inherit
}

.dropdown-menu {
    align-content: center;
    align-items: center;
    text-align: center;
    width: 150%;
    line-height: 40px
}

.logo-nav {
    width: 200px;
    height: auto
}

/* ***TITRES**** */

.titre {
    font-size: 350%;
    word-spacing: 12px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3%;
}

.top-titres {
    color: white;
    font-size: 300%;
    font-family: 'Quicksand', sans-serif;
    padding: 0% 0 2% 0
}

/* *****BUTTONS***** */

.btn-galerie {

    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    text-transform: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding: 5px 30px 5px 30px;
    border: 2px white solid;
    margin-top: 10px;
    font-family: "Generica", sans-serif;
    letter-spacing: 2px;
    box-shadow: white 0px 3px 0px 0px
}

.btn-galerie:hover {
    background-color: black;
    color: #12a29b;
    border: 3px transparent solid;
    transition: 0.6s;
    text-decoration: none;
    text-transform: none;
    box-shadow: #12a29b 0px 3px 0px 0px
}

/* **** HEADER ***** 
====================== */

.header {
    background-image: url("../Ressources/Design/Background-black.png");
    height: 70vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 10%;

}

#logo {
    width: 20vw;
    margin: 0 auto;
     

}



/* ****SERVICES**** */

.services {
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.68),
            rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.9)), url("../Ressources/Design/Background-black.png");
    height: 100%;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.services h2 {
    text-transform: uppercase;
    font-family: "Generica", sans-serif;
    font-size: 130%;
    line-height: 40px
}

.services h4 {
    font-size: 30px;
}

.services i {
    color: white;
}

.services i:hover {
    color: #12a29b;
    transform: translateY(-10px);
    transition: 0.5s
}

/* **** PORTFOLIO ***** 
======================== */

.portfolio {
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.68),
            rgba(0, 0, 0, 0.46), rgb(0, 0, 0)), url("../Ressources/Design/Background-black.png");
    height: 100%;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.print {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 80%
}

.print img,
print {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 50px 1px;
    padding: 20px
}

.categorie {
    padding-top: 2%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.categorie a div {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.cover {
    position: relative;
    width: 565px;
    max-width: 565px;
    height: 385px;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}


.text-portfolio {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #12a29b;
    padding: 5%;
    width: 565px;
    max-width: 565px;
    
}


.voir {
    position: absolute;
    background-color: #12a29b;
    color: white;
    font-size: 16px;
    width: 65px;
    height: 55px;
    right: 0%;
    top: 0%


}

.text-voir {
    position: absolute;
    text-align: center;
    right: 15%;
    top: 30%
    
}


/*AFFICHES*/


.zoom-1 {
    
    background-image: url("../Ressources/Design/cover-flyer.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 50px 1px
}

.zoom-1 a {
    display: block;
}

.zoom-1:hover {
    background-image: url("../Ressources/Design/zoom-cover-flyer.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 60%;
    transition: 0.5s;
    margin: 0 auto;

}

.zoom-1:active {
    background-image: url("../Ressources/Design/cover-flyer.png");
    opacity: 50%;
    transition: 0s;


}

/*LOGOS*/

.zoom-2 {

    background-image: url("../Ressources/Design/Cover-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 50px 1px
}

.zoom-2 a {
    display: block;
}

.zoom-2:hover {
    background-image: url("../Ressources/Design/zoom-Cover-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    margin: 0 auto;
    opacity: 60%;

}

.zoom-2:active {
    background-image: url("../Ressources/Design/Cover-logo.png");
    opacity: 50%;
    transition: 0s;


}


/*SUPPORTS VARIES*/

.zoom-3 {

    background-image: url("../Ressources/Design/Cover-varies.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 50px 1px;
    border-radius: 10
}

.zoom-3 a {
    display: block;
}

.zoom-3:hover {
    background-image: url("../Ressources/Design/zoom-Cover-varies.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    margin: 0 auto;
    opacity: 60%;

}

.zoom-3:active {
    background-image: url("../Ressources/Design/Cover-varies.png");
    opacity: 50%;
    transition: 0s;


}


/*WEBDESIGN*/

.zoom-4 {

    background-image: url("../Ressources/Design/Cover-webdesign.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 50px 1px
}

.zoom-4 a {
    display: block;
}

.zoom-4:hover {
    background-image: url("../Ressources/Design/zoom-Cover-webdesign.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    margin: 0 auto;
    opacity: 60%;

}

.zoom-4:active {
    background-image: url("../Ressources/Design/Cover-webdesign.png");
    opacity: 50%;
    transition: 0s;


}







/* **** A PROPOS ***** 
======================== */

.apropos {
    background-image: linear-gradient(to top, rgba(18, 162, 155, 0.23), rgb(0, 0, 0), rgba(0, 0, 0, 0.05)), url("../Ressources/Design/cover-a-propos-copie.jpg");
    margin: 0 auto;
    height: 100%;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.apropos h3 {
    font-size: 120%
}

.text-apropos {
    width: 90vw;
    text-align: justify;
}

.bordure {
    padding: 0 40px 0 40px;
    border-left: 3px #12a29b solid;
    border-right: 3px #12a29b solid;
}


.freelance {
    width: 100%;
}

.liste h3 {
    text-transform: uppercase;
    text-align: center;
}

/* ******
===================***PAGE LOGOS*** */
/* ========================================== */

.logos {
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.58),
            rgba(18, 162, 155, 0.7)), url("../Ressources/Design/Background-black.png");
    height: 100%;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.body-logos {
    background-image: url("../Ressources/Design/Background-black.png")
}

/* **** PAGE CONTACT ***** 
======================== */

.pierre {
    width: 70%;
    border-top: 3px #12a29b solid;

}

.networks i {
    color: #12a29b
}

.networks i:hover {
    color: white;
    transform: scale(1.2, 1.2);
}

.enveloppe {
    font-size: 350px;
    color: #12a29b
}

/* **** FOOTER ***** 
======================== */

footer {
    background-color: black;
    width: 100vw;
    height: 100%;
    font-family: "Generica", sans-serif;
    color: white;

}


footer a i {
    display: block;
    color: white;
    padding: 5px;
}

footer a i:hover {
    color: #12a29b;
    transition: 0.5s;
    transform: scale(1.3, 1.3);

}

footer div div p {
    letter-spacing: 3px;

}

footer {
    line-height: 0
}


/* *********RESPONSIVE************* */

@media screen and (max-width:768px) {

    .dropdown-menu {
        line-height: 40px;
    }

}
